{% extends 'base.html' %}
{% block title %}Главная{% endblock %}
{% block content %}
    <div class="container">
        <div class="card mb-3">
            <div class="row g-0">
                <div class="card-body">
                    <h5 class="card-title">{{ album.title }}</h5>
                    <p class="card-text">{{ album.discriptions }}</p>
                    <a href="{% url "albums:change" album.pk %}" class="btn btn-warning">Изменить</a>
                    <a href="{% url "albums:delete" album.pk %}" class="btn btn-danger">Удалить</a>
                </div>
            </div>
        </div>
        <div class="row mt-3">
            {% for photo in photos %}
                <div class="col-3 mt-3">
                    <div class="card" style="width: 18rem;">
                        <a href="{% url 'photos:detail' photo.pk %}"><img src="{{ photo.photo.url }}"
                                                                          class="card-img-top" alt="photos"></a>
                        <div class="card-body">
                            <h5 class="card-title">{{ photo.title }}</h5>
                            <p class="card-text">{{ photo.author.first_name }} {{ photo.author.last_name }}</p>
                            <p class="card-text">{{ photo.create_date }}</p>
                            <p class="card-text">{{ photo.album }}</p>
                        </div>
                    </div>
                </div>
            {% empty %}
                <span>Добавьте фото</span>
            {% endfor %}
        </div>
    </div>
{% endblock %}