{% extends 'base.html' %}
{% block title %}Главная{% endblock %}
{% block content %}
    <div class="container">
        <div class="card mb-3">
            <div class="row g-0">
                <div class="card-body">
                    <h5 class="card-title">{{ album.title }}</h5>
                    <p class="card-text">{{ album.discriptions }}</p>
                    <a href="{% url "albums:change" album.pk %}" class="btn btn-warning">Изменить</a>
                    <a href="{% url "albums:delete" album.pk %}" class="btn btn-danger">Удалить</a>
                    {% if user in album.favorites.all %}
                        <a class="favoritesAlbum" href="{% url "api_v1:albums-unfavorite" album.pk %}"
                           data-album-id="{{ album.pk }}"><i
                                class="fa-solid fa-heart fa-2xl"></i></a>
                    {% else %}
                        <a class="favoritesAlbum" href="{% url "api_v1:albums-favorite" album.pk %}"
                           data-album-id="{{ album.pk }}"><i
                                class="fa-regular fa-heart fa-2xl"></i></a>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="row mt-3">
            {% for photo in photos %}
                <div class="col-3 mt-3">
                    <div class="card" style="width: 18rem;">
                        <a href="{% url 'photos:detail' photo.pk %}"><img src="{{ photo.photo.url }}"
                                                                          class="card-img-top" alt="photos"></a>
                        <div class="card-body">
                            <h5 class="card-title">{{ photo.title }}</h5>
                            <p class="card-text">{{ photo.author.first_name }} {{ photo.author.last_name }}</p>
                            <p class="card-text">{{ photo.create_date }}</p>
                            <p class="card-text">{{ photo.album }}</p>
                            {% if user in photo.favorites.all %}
                                <a class="favoritesPhoto" href="{% url "api_v1:photos-unfavorite" photo.pk %}"
                                   data-photo-id="{{ photo.pk }}"><i
                                        class="fa-solid fa-heart fa-2xl"></i></a>
                            {% else %}
                                <a class="favoritesPhoto" href="{% url "api_v1:photos-favorite" photo.pk %}"
                                   data-photo-id="{{ photo.pk }}"><i
                                        class="fa-regular fa-heart fa-2xl"></i></a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% empty %}
                <span>Добавьте фото</span>
            {% endfor %}
        </div>
    </div>
{% endblock %}