{% extends 'base.html' %}
{% block title %}Главная{% endblock %}
{% block content %}
    <div class="container-fluid">
        <div class="row mt-3">
            {% for photo in photos %}
                <div class="col-3 mt-3">
                    <div class="card" style="width: 18rem;">
                        {% if user.is_authenticated %}
                            <a href="{% url 'photos:detail' photo.pk %}"><img src="{{ photo.photo.url }}"
                                                                              class="card-img-top" alt="photos"></a>
                        {% else %}
                            <img src="{{ photo.photo.url }}"
                                 class="card-img-top" alt="photos">
                        {% endif %}
                        <div class="card-body">
                            <h5 class="card-title">{{ photo.title }}</h5>
                            {% if user.is_authenticated %}
                                <a href="{% url "accounts:profile" photo.author.pk %}"
                                   class="card-text">{{ photo.author.first_name }} {{ photo.author.last_name }}</a>
                            {% else %}
                                <p class="card-text">{{ photo.author.first_name }} {{ photo.author.last_name }}</p>
                            {% endif %}
                            <p class="card-text">{{ photo.create_date }}</p>
                            {% if user.is_authenticated and photo.album %}
                                <a href="{% url "albums:detail" photo.album.pk %}"
                                   class="card-text">{{ photo.album.title }}</a>
                            {% else %}
                                <p class="card-text">
                                    {% if photo.album %}{{ photo.album }}{% else %} Альбома нет{% endif %}</p>
                            {% endif %}
                            <p class="card-text">{{ photo.private }}</p>
                            {% if user in photo.favorites.all %}
                                <a class="favoritesPhoto" href="{% url "api_v1:photos-unfavorite" photo.pk %}"
                                   data-photo-id="{{ photo.pk }}"><i
                                        class="fa-solid fa-heart fa-2xl"></i></a>
                            {% else %}
                                <a class="favoritesPhoto" href="{% url "api_v1:photos-favorite" photo.pk %}"
                                   data-photo-id="{{ photo.pk }}"><i
                                        class="fa-regular fa-heart fa-2xl"></i></a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% empty %}
                <span>Добавьте фото</span>
            {% endfor %}
        </div>
    </div>
{% endblock %}